@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-inline-size: 100%;
  block-size: auto;
}

body {
  background-color: #F1EFEE;
  color: #000000;
}

.containerr {
  inline-size: 95%;
  margin: auto;
  block-size: 100vh;
}

.no-scrollbar{
  scrollbar-width: none;
}